@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 122 39% 49%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --base: 222.2 47.4% 11.2%;
    --neutral: 210 40% 96.1%;
  }

  .theme-b {
    --base: 230 50% 98%;
    --background: 230 50% 98%;
    /* --primary: 100 80% 45%; */
    --primary: 190 95% 25%;
    --neutral: 200 50% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.hero-mask-to-r {
  -webkit-mask-image: linear-gradient(to right, transparent 5%, black 90%);
  mask-image: linear-gradient(to right, transparent 5%, black 90%);
}

@media screen and (min-width: 640px) {
  .hero-mask-to-r {
    -webkit-mask-image: linear-gradient(to right, transparent 5%, black 50%);
    mask-image: linear-gradient(to right, transparent 5%, black 50%);
  }
}
